.container {
  padding: 0 2rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.form_group{
  display: flex;
  flex-direction: column !important;
}

.header{
  margin: 3% 0 !important;
}